<% content_for :title do %>
	LineHive: About
<% end %>

<h2>About LineHive</h2>

<h3>Hyperlink storytelling</h3>

<p>
As we browse news stories, we make mental connections between pages. 'Hyperlink storytelling' is putting those links together to create mini-stories. Our algorithms automatically create timelines to make your mini-story a mini-beauty. Thinking through linking. Browse the connections others make of the same news stories.
</p>

<h3>Your feedback = digital unobtanium</h3>

<p>
LineHive started as a research project in the human-computer interaction group at Stanford University. We'd love if you give us feedback after creating a few lines. How does hyperlink storytelling change the way you think and link?
</p>

