<% content_for :title do %>
	LineHive: JetPack
<% end %>

<% content_for :description do %>LineHive. Hyperlink storytelling: As we browse news stories, we make mental connections between pages. 'Hyperlink storytelling' is putting those links together to create mini-stories. Our algorithms automatically create timelines to make your mini-story a mini-beauty. Thinking through linking. Browse the connections others make of the same news stories.
<% end %>
<% content_for :img_src do %>http://linehive.com/images/logo6.png<% end %>

<h2>LineHive.com: Crowdbrowsing extension</h2>

<p>
While you are browsing the internet, this extension will let you know when there are timelines associated with the active page. Then browse those timelines without going to LineHive.com.  We call it <b>crowdbrowsing</b> and it currently works for Firefox 3.6+.	
</p>

<p>
	<a href="/crowdbrowse.xpi">Install Now</a>
</p>

<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>