<% content_for :title do %>
	LineHive: JetPack
<% end %>

<h2>LineHive.com: Crowdbrowsing extension</h2>

<p>
While you are browsing the internet, this extension will let you know when there are timelines associated with the active page. Then browse those timelines without going to LineHive.com.  We call it <b>crowdbrowsing</b> and it currently works for Firefox 3.6+.	
</p>

<p>
	<a href="/crowdbrowse.xpi">Install Now</a>
</p>

<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>