<% content_for :title do %>
	LineHive: JetPack
<% end %>

<h2>CrowdBrowsing</h2>

<p><b>CrowdBrowsing</b>: A new way to discover interesting content on the web. Install the <a href="">LineHive Firefox Extension</a> (requires Firefox 3.6+). The LineHive Firefox Extension will install the discreet LineHive Button on your toolbar that will light up when the page you're on has timelines associated with it. Click the LineHive Button to view all the stories that cross paths with you!"</p>

<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>
<div class="space_20"></div>