<h2>Welcome to trailr!</h2>
<p>Create sequences of headlines that you find interesting! See the cool things other people put together and join the global conversation!</p>

<h2>Hot Trails</h2>
<div class="box">
	
	<% 8.times do %>
		<div class="trail_snapshot">
			<div class="icon">
				&nbsp;
			</div>
			<div class="title">
				<%= link_to "Earthquake in Haiti", :controller => "trails", :action => "show" %>
			</div>
		</div>
	<% end %>
		
	<div class="clear"></div>
	
</div>
<h2>Recent Trails</h2>
<div class="box">
	
	<% 8.times do %>
		<div class="trail_snapshot">
			<div class="icon">
				&nbsp;
			</div>
			<div class="title">
				<%= link_to "Earthquake in Haiti", :controller => "trails", :action => "show" %>
			</div>
		</div>
	<% end %>
	
	
	<div class="clear">&nbsp;</div>
	
</div>
		

