<% content_for :title do %>
	LineHive: JetPack
<% end %>

<% content_for :description do %>LineHive. Hyperlink storytelling: As we browse news stories, we make mental connections between pages. 'Hyperlink storytelling' is putting those links together to create mini-stories. Our algorithms automatically create timelines to make your mini-story a mini-beauty. Thinking through linking. Browse the connections others make of the same news stories.
<% end %>


<% content_for :javascripts  do %>

<link rel="jetpack" href="/jetpack/jetpack.js" name="LineHive"/>

<% end %>

<h2>Start your Jetpacks!</h2>




<table width="100%">
<td>

<p>Want to make Timelines while you browse the web?  Install the LineHive Jetpack, it works on Firefox 3.0+. The Jetpack, along with LineHive.com, is being submitted to the <a 
href="http://design-challenge.mozillalabs.com/jetpack-for-learning/">Jetpack for Learning contest</a>.</p>

<h2>Instructions</h2>


<p><b>Visit <a href="http://linehive.com">LineHive.com</a></b> and play around - it shouldn't require instructions.</p>

<p><b>Try the jetpack</b> to create timelines as you surf.  A message should have been displayed in your browser about installing the LineHive.com Jetpack.  Accept it.  The UI will appear on your status bar.</p>

<p><b>Copy URLs</b> and watch them get added to the current trail when the Jetpack is on.  Press the "Send to linehive" button to create the timeline.</p>

<p><b>Coming soon:</b> Jetpack shows all the links in your stack, Jetpack allows you to create the trail without visiting 
LineHive.com, the timelines at LineHive.com will be embeddable (without Flash), timelines will have fisheye magnification, and 
timelines will cluster overlapping links.</p>
</ul>


</td>
</tr>
</table>