<% content_for :title do %>
	Search Results - <%= params[:query] %>
<% end %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "miniline" %>

<% end %>

<h2>


<h2>
	Search Results: <%= params[:query] %>
</h2>

<div class="space_30"></div>

<% for trail in @trails %>

<%= render :partial => "trails/miniline", :locals => {:trail => trail} %>
<div class="space_30"></div>


<% end %>


<!--<ul>
	<li>
		<%# link_to trail.caption, :controller => "trails", :action => "show", :id => trail.id  %>
	</li>
</ul>-->