.account_info {
	/* TODO:MOVE TO ORANGE.css */
	border:1px solid #ccc;
	background-color:rgb(250, 250, 250);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:10px;
	text-align:left;
	margin-bottom:15px;
}


.account_info h2 {
	display:inline;
	font-size:14px;
}