body {
	background-color:white;
	font-family:Helvetica, Arial, Sans-Serif;
}

#timeline .meta .headline {
	height:14px;
}

h3#caption {
	margin:25px 0px 10px;
	padding:0px;
	height:30px;
	width:100%;
}

h3#caption a {

	height:inherit;
	display:block;
}

#logo {
	position:fixed;
	right:0px;
	top:25px;
	background-color:white;
}

/*h3 a {
	color:#454545;
	color:black;
	
}
*/
a {
	color:#454545;
	color:black;
}