* {
	padding:0px;
	margin:0px;
}

body {
	font-family: "Helvetica", Arial, sans-serif;
	padding:0px;
	margin:0px;
	font-size:14px;
	background-color:#222;
}

p {
	font-size:14px;
	line-height:20px;
	margin-bottom:15px;
}

h1 {
	margin-bottom:15px;
	margin-top:15px;
}

h2 {
	margin-bottom:10px;
}

a {
	text-decoration:underline;
	color:rgb(0, 136, 204);;
}

ul {
	padding-left:30px;
	font-size:14px;
	line-height:20px;
}


.clear {
	clear:both;
	
}



.trail_box {
	border:1px solid #B7B7B7;
	margin-bottom:10px;
}

.trail_box_contents {
	margin:15px;
}

.trail_box_header {
	margin:0pc;
	
	width:auto;
	height:45px;
	background-color:#222222;
	color:white;
	line-height:45px;
	font-size:13px;
	text-align:center;
	font-weight:bold;
	
}


.trail_snapshot {
	float:left;
	margin:5px;
	padding:3px;
	width:150px;
	text-align:center;
}


.trail_snapshot .icon {
	background-color:#222;
	width:100px;
	height:100px;
	margin:auto;
}

.trail_snapshot .title {
	margin-top:3px;
	font-size:12px;
	color:black;
	font-weight:bold;
	text-decoration:underline;
}


#feedback {
	position:fixed;
	left:0px;
	top:30%;
	height:120px;
	width:30px;
	text-decoration:none;
	background-image:url("../images/feedback.png");
}


.input_label {
	font-size:11px;
}



.small_columns {
	
}


.small_columns .maincol {
	float:left;
	width:620px;	
}


.small_columns .sidecol {
	float:left;
	margin-left:10px;
	width:270px;
}


.equal_columns {
	
}

.equal_columns .left {
	float:left;
	width:440px;
}

.equal_columns .right {
	margin-left:20px;
	float:right;
	width:440px;	
}

.two_columns {
	
}


.two_columns .left {
	float:left;
	width:48%;
}

.two_columns .right {
	width:48%;
	margin-left:52%;	
}




br {
	clear:both;
}




.columns {
	
}

.maincol {
	float:left;
	width:600px;
	
}

.sidecol {
	float:left;
	margin-left:10px;
	width:290px;
	
	//margin-left:510px;
}


.space_5 {
	clear:both;
	height:5px;
}

.space_10 {
	clear:both;
	height:10px;
}

.space_15 {
	clear:both;
	height:15px;
}

.space_20 {
	clear:both;
	height:20px;
}

