#hoverline_end {
	height:50px;
	
}

#mirror {
	z-index:200;
	background-color:#919191;
	height:40px;
	width:100%;
	line-height:46px;
	color:black;
	font-weight:bold;
	margin-bottom:-15px;
}

#hoverline_back {


	bottom:0px;


	margin:auto;

	position:fixed;
	
		
	background-color:#222;
	height:40px;
	width:800px;
	opacity:0.5;
	line-height:46px;
	color:black;
	font-weight:bold;
}

#hoverline {
	
	bottom:0px;


	margin:auto;
	
	position:fixed;
	height:40px;

	width:800px;
	line-height:40px;
	color:black;
	font-weight:bold;
}

#hoverline_back.absolute {
	position:absolute;
	margin-bottom:-15px;
	/* top:25px; */
	
}


#hoverline.absolute {
	position:absolute;
	margin-bottom:-15px;	
}