#sidebar {
	background-color:#EEE;
	color:rgb(102, 102, 102);
	height:350px;
	float:right;
	width:200px;
	-webkit-border-radius:5px;
	padding:10px;
	font-size:13.5px;
	line-height:20px;
}

#create_form {
	width:550px;
}

#buttons {
	border-top:1px solid #888;
	
	padding-top:25px;
	padding-bottom:25px;
	margin-top:30px;	
	
}

#buttons * {
	margin:0px;
	padding:0px;
	display:inline;
}



.trail_close {
	float:right;
	font-size:11px;
	position:relative;
	left:10px;
	top:-10px;
	
	height:26px;
	width:26px;
	background-color:none;
	background-image:url("../images/close.png");
	
}

.trail_item {
	//background-color:#E6ECF2;	
	background-color:#EDEDED;		
	border:1px solid #CCC;
	height:150px;
	margin-bottom:20px;
}


.trail_handle {
	background-color:#5F6972;
	background-color:#454545;
	
	float:left;
	
	width:35px;
	height:150px;
	cursor:pointer;
}


.url_text {
	margin-left:10px;
	width:490;
	height:30px;
	font-size:15px;
}


.subtitle_text {
	margin-left:10px;
	width:490px;
	resize:none;
	font-size:15px;
}


.large_label {
	color:#888;
	font-weight:bold;
	height:35px;
	font-size:15px;
}

.large_text {
	height:35px;
	font-size:20px;
	font-family:"Helvetica", Arial, Sans-Serif;
}



#loader {
	display:none;
	position:relative;
}


.round_box {
	
	padding:10px;
	-webkit-border-radius:5px;
	
	background-color:#EEE;
	color:rgb(102, 102, 102);	
}

fieldset {
	padding:0px;
	margin:0px;
	padding-bottom:20px;
	margin-bottom:20px;
	border:none;
	//border-bottom:1px solid rgb(136, 136, 136);	

}


.url_add_button {
	height:75px;
	width:100px;
	border:none;
	float:right;
	
	font-size:13px;
	color:#222222;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight:bold;
	
	background-color:none;
	background-image:url("../images/url_add_button.png");
	border:1px solid #737373;
	border-left:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;


	
}
