

body {
	background-color:#fafafa;

}

#header {
	background-image:url("../images/header_background.png");	
}

#footer {
	background-color:#fafafa;
	color:#534741;
	border-top:1px solid #cccccc;
}

#trail_subheading {
	border-color:#cccccc;
}

h2 {
	color:#00A2F3;
	color:rgb(0, 129, 199);
	
}


#top_links {
	background-color:transparent;
}

#top_links ul li {
	border:none;
	padding:0px;
	
	
}

#top_links ul {
	top:5px;
}


#search_box {
	border:1px solid white;
}

#search_box:focus {
	outline:none;
}

#search_button {
	background-color:white;
	border:1px solid white;
}

.trail_button {
	
	color:rgb(0, 129, 199);

	background-image:url("../images/button_background.png");
	width:130px;
	height:41px;
	
	cursor:pointer;
	
}

a  {
	color:rgb(0, 129, 199);
	
}


#color_bar {
	position:absolute;
	bottom:0px;
	width:100%;
	background-color:#95ca38;
	height:5px;
}

#color_bar_wrapper {
	width:900px;
	margin:auto;
}

#feedback {
	background-image:url("../images/feedback_blue.png");	
}

#timeline {
	background-color:#fafafa;
	border-color:#cccccc;
}

.urlbox {
	background-color:#fafafa;
	border-color:#cccccc;
}

#timeline .gap {
	background-color:#fafafa;
	border-color:#534741;
	border-color:#555;	
	border-width:1px;
}

#timeline #scale {
	border-color:#534741;
	border-color:#555;
	border-width:1px;		
}

#timeline .tick {
	border-color:#534741;
	border-color:#555;
	border-width:1px;		
}

#timeline .empty {
	opacity:0.5;
}

.round_box {
	background-color:#fafafa;
	border:1px solid #cccccc;
	
}

#urls {
	border-color:#cccccc;
}

.url_add_button {
	border-color:#cccccc;
	background-image:url("../images/url_add_button_white.png");
	color:rgb(0, 129, 199);
}
