<div style="width:900px;height:300px;border:0px solid #808080"> 
	<iframe frameborder="0" width="900" height="300" src="<%= url_for :controller => "trails", :action => "embed", :id => trail.id, :only_path => false %>"></iframe> 
</div>			
