


<% if noedit %>
	<div id="timeline" class="noedit">
<% else  %>
	<div id="timeline">
	
	<div id="image_picker_cover">
		&nbsp;
	</div>	
	
	<div id="image_picker">
		<div class="close"></div>
		<h3>
			Site Images<span style="font-weight:normal"> - From <span class="source">www.cnn.com</span></span>
		</h3>
		<ul></ul>
		<div class="clear">&nbsp;</div>		
		<div style="border-bottom:1px solid black;text-align:center; margin-bottom:14px">
			<span style="position:relative;top:7px;background-color:#F5F5F5;padding:0px 5px">Or</span>
		</div>
		<h3>
			Custom Image<span style="font-weight:normal"> - Use any image URL</span>
		</h3>
		<div style="padding:0px 15px">
			<input type="button" name="some_name" value="Choose" style="float:right" class="trail_button pick_custom_image_button">		
			<input type="text" name="some_name" value="" style="width:420px" class="large_text pick_custom_image_text">
		</div>
	</div>

<% end %>

	<div class="back">Back</div>

	<div class="meta">
		<div class="headline">
			&nbsp;
		</div>
		<div class="source">
			&nbsp;
		</div>
	</div>
	<div class="meta_callout">&nbsp;</div>
	
	<div class="events">
		<div class="empty">
			No Events
		</div>			
	</div>
	
	<div id="scale">&nbsp;</div>
</div>


<pre id="add" class="template">
	<div class="$class">					 
		<div class="insert"></div> 
		<div class="info">				 
			<div class="pictures">	 
					$pictures
			</div>									 
			<div class="headline">   
					$headline
			</div>                   
			<div class="url">        
				$url
			</div>                   
			<div class="source">     
				$source
			</div>                   
			<div class="image">      
				$image
			</div>                   
			<div class="date">       
				$date
			</div>                   
		</div>                     
		<div class="thumbnail">
			<a href="$url" onclick="window.open(\'$url\'); return false;" target="_blank">
				<img src="$image">
			</a>
			<span class="pick_image">Change Image</span>
		</div>
		<div class="tick">
			&nbsp;					        
		</div>
		<div class="date">
			<div class="close">[<a href="#">x</a>]</div>
			$format
		</div>
		<div class="headline">
			$headline
		</div>
	</div>
</pre>
