/* Bindings */
iframe {
width:100%;
height:100%;
}
gsdiggeventbox {
  -moz-binding: url("../content/time_overlay.xml#gs-digg-event-box");
}
gsdiggeventcompactbox {
  -moz-binding: url("../content/time_overlay.xml#gs-digg-event-compact-box");
}
gsdiggeventdetailedbox {
  -moz-binding: url("../content/time_overlay.xml#gs-digg-event-detailed-box");
}


#gs-digg-event-bottom-bar {
  overflow: hidden;
  border: none;
  background-color: #FFF;
}

#gs-digg-event-popup {
  width: 520px;
  overflow: hidden;
  border: none;
  background: transparent;
  padding: 0px;
  -moz-appearance: none !important;
}
